@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* background: var(--color-bg); */
  /* box-shadow: 0px 0px 6px 1.5px var(--color-primary); */
  background: var(--color-primary-light);
  margin-bottom: 4px;
  padding: 0; /* no side padding */
  max-width: 364px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.content {
  padding: 0 20px 20px 20px; /* apply padding only to text content */
}

.container:hover {
    transform: scale(1.025);
}

.image {
    width: 364px;                  /* Fill container's width */
    height: 230px;
    object-fit: cover;            /* Keeps aspect ratio and fills box */
    border-radius: 8px 8px 0 0; /* Only round top corners */
    margin: 0;                    /* Remove default margin */
    margin-bottom: 10px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-text);
}

.description {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text);
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    color: var(--color-text);
}

.skill {
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 2px 12px;
}

.link {
  text-decoration: none;  /* removes underline */
  color: inherit;         /* inherits the surrounding text color */
  display: block;         /* makes the link act like a block element */
}