@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    /* margin-bottom: -25px; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 33px;
}

.description {
    font-size: 25px;
    margin-bottom: 30px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
    width: 37.5%;
    z-index: 1;
    transform: scaleX(-1);
}

.buttonContainer {
    display: flex;
    gap: 15px;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    width: 57.5px; 
    height: 57.5px;
    color: var(--color-text);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.iconButton:hover {
    background-color: var(--color-primary-hover); 
    transform: translateY(-1.5px); 
}

.iconButton:active {
    transform: translateY(0);
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .heroImg {
        width: 65%;
    }

    .content {
        align-items: center;
    }
}