/* Default Light Theme */
:root {
  --color-text: #232020;
  --color-text-hover: #6d6271;

  --color-primary-light: #f1f4ff;
  --color-primary: #dee3fc;
  --color-primary-hover: #cbd1f1;

  --color-secondary: #19376d;
  --color-dark: #dcdcdc;
  --color-bg: #ffffff;

  --font-roboto: "Roboto";
}

/* Dark Theme Overrides */
[data-theme="dark"] {
  --color-text: #ffffff;
  --color-text-hover: #b0a6b9;

  /* --color-primary-light: #443454;
  --color-primary: #372649;
  --color-primary-hover: #2e3250; */

  --color-primary-light: #352f3a;
  --color-primary: #26212c;
  --color-primary-hover: #3b2e50;
  
  --color-secondary: #a6c8ff;
  --color-dark: #181818;
  --color-bg: #121212;
}
